In [5]:
import pandas as pd
ds1=pd.Series([2,4,5,6,7])
ds2=pd.Series([0,7,9,8,4])
print("series1:")
print(ds1)
print("series2:")
print(ds1)
print("compare the elements of the given series:")
print("equals:")
print(ds1==ds2)
print("greater than:")
print(ds1>ds2)
print("lessthan:")
print(ds1<ds2)

series1:
0    2
1    4
2    5
3    6
4    7
dtype: int64
series2:
0    2
1    4
2    5
3    6
4    7
dtype: int64
compare th elements of the given series:
equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
greater than:
0     True
1    False
2    False
3    False
4     True
dtype: bool
lessthan:
0    False
1     True
2     True
3     True
4    False
dtype: bool

In [6]:
import pandas as pd
ds1=pd.Series([1,2,3,4,5])
ds2=pd.Series([6,7,8,9,0])
ds=ds1+ds2
print(ds)
print("add two series:")
print(ds1+ds2)
print(ds)
print("multiply two series:")
print(ds*ds2)
print(ds)
print("subtract two series:")
print(ds2-ds1)
print(ds)
print("divide two series:")
print(ds2/ds1)
print(ds)

0     7
1     9
2    11
3    13
4     5
dtype: int64
add two series:
0     7
1     9
2    11
3    13
4     5
dtype: int64
0     7
1     9
2    11
3    13
4     5
dtype: int64
multiply two series:
0     42
1     63
2     88
3    117
4      0
dtype: int64
0     7
1     9
2    11
3    13
4     5
dtype: int64
subtract two series:
0    5
1    5
2    5
3    5
4   -5
dtype: int64
0     7
1     9
2    11
3    13
4     5
dtype: int64
divide two series:
0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    0.000000
dtype: float64
0     7
1     9
2    11
3    13
4     5
dtype: int64

In [2]:
# change data type of column or series
import pandas as pd
s1=pd.Series(['13','88','567','pandas','500.67','350'])
print("original data series:")
print(s1)
print("change data type to numeric:")
s2=pd.to_numeric(s1,errors='coerce')
print(s2)

original data series:
0        13
1        88
2       567
3    pandas
4    500.67
5       350
dtype: object
change data type to numeric:
0     13.00
1     88.00
2    567.00
3       NaN
4    500.67
5    350.00
dtype: float64

In [4]:
#convert the first column of a dataframe as a series
import pandas as pd
d={'col1':[1,2,3,4],'col2':[5,6,7,8]}
df=pd.DataFrame(d)
print("original DataFrame")
print(df)
s1=df.ix[:,0]
print(1st column as a series:")
print(type(s1))

SyntaxError: invalid syntax (3284441430.py, line 8)

In [22]:
#covert series to an array
import pandas as pd
import numpy as np
s1=pd.Series(['10','30','67','855'])
print("original data series:")
print(s1)
print("series to an array:")
a=np.array(s1.values.tolist())
print(a)

original data series:
0     10
1     30
2     67
3    855
dtype: object
series to an array:
['10' '30' '67' '855']

In [4]:
#to sort given series
import pandas as pd
s=pd.Series(['100','200','python','300.12','400'])
print("original seies")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

original seies
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [26]:
#pandas to add some data to an existing series
import pandas as pd
s=pd.Series(['100','200','adding','300.1','400'])
print("original series:")
print(s)
print("\nSeries after adding some data:")
new_s=s.append(pd.Series(['500','series:']))
print(new_s)

original series:
0       100
1       200
2    adding
3     300.1
4       400
dtype: object

Series after adding some data:
0        100
1        200
2     adding
3      300.1
4        400
0        500
1    series:
dtype: object

C:\Users\sohiniprasad\AppData\Local\Temp\ipykernel_13460\852551029.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_s=s.append(pd.Series(['500','series:']))

In [33]:
import pandas as pd
s=pd.Series([1,2,3,4,5,6,7,8])
print("original data series:")
print(s)
print("\nsubset of the above data Series:")
n=9
new_s=s[s<n]
print(new_s)

original data series:
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

subset of the above data Series:
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [35]:
import pandas as pd
s=pd.Series(['a','b','c','d','e','f'])
print("original series:")
print("index of given series:")
print(s)

original series:
index of given series:
0    a
1    b
2    c
3    d
4    e
5    f
dtype: object